/* styles.css */

/* Styles communs pour toutes les pages */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin-bottom: 20px;
}

/* Styles spécifiques à la page de maintenance */
.maintenance-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.maintenance-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.maintenance-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.countdown {
    margin-bottom: 20px;
}

.countdown p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
}

.time-unit {
    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    width: 60px;
}

.time-unit span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.time-unit p {
    margin: 5px 0 0;
    color: #777;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.contact-button:hover {
    background: #0056b3;
}
